<!doctype html>
{% load static %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $.get("{% url 'navCommittee' %}", function(data){
            console.log("start nav");
            $(".navigation").replaceWith(data);
            append();
        });
        function append(){
            document.getElementById("container-fluid").innerHTML="<br><br><br>"+(document.getElementById("main").innerHTML);
            console.log(document.getElementById("container-fluid"));
            console.log(document.getElementById("main").innerHTML);
            console.log("done apend");
        }
    </script>
</head>

<body >
<div id="main" style="display: none;">
    <br><br>
    {% if events %}
        {% for event in events %}
            <div style="background-color:white">
                <details>
                    <summary><b>{{event.2}}</b>
                        <div style="float:right;">
                            <br>
                            <form action="{%url 'editEvent'%}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="hidden" value="{{event.0}}">
                                <button class="btn btn-success">Edit</button>
                            </form><br>
                            <form action="{%url 'rescheduleEvent'%}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="hidden" value="{{event.0}}">
                                <button class="btn btn-success">Reschedule</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </form><br>
                            <form action="{%url 'deleteEvent'%}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="hidden" value="{{event.0}}">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </summary>
                    {{event.3}}
                    <br>Author
                    <p>{{event.12}}</p>
                </details><br>
                Date: {{event.4}}<br>
                Time: From {{event.5}} To {{event.6}}<br>
                Room ID: {{ event.7}}<br>
                Target Audience: {{event.9}}/{{event.8}}<br>
                Amount : {{event.10}}<br>
                <b>Status: {% if event.11 == 1%}
                                Approved.
                            {%elif event.11 == -1%}
                                Rejected.
                            {%else%}
                                Queued.
                            {%endif%}</b>
            </div>
            <br>
        {%endfor%}
    {%endif%}
    <br><br>
</div>
<div class="navigation"></div>
</body>
</html>